version: '3.8'
networks:
  pbft_net:
    driver: bridge
services:
  pbft-bootstrap:
    build:
      context: ./Sabine_ODL_Fork
      dockerfile: Dockerfile
    container_name: pbft-bootstrap
    command:
    - bootstrap
    - '4315'
    - --debug
    - info
    networks:
    - pbft_net
    ports:
    - 4315:4315
  pbft-dealer:
    build:
      context: ./Sabine_ODL_Fork
      dockerfile: Dockerfile
    container_name: pbft-dealer
    command:
    - dealer
    - pbft-bootstrap:4315
    - '5000'
    - --grpcPort
    - '50051'
    - --NbNode
    - '4'
    - --replicaAddrs
    - pox-replica-0:50052,pox-replica-1:50053,pox-replica-2:50054,pox-replica-3:50055
    - --debug
    - info
    networks:
    - pbft_net
    ports:
    - 50051:50051
    - 5000:5000
    depends_on:
    - pbft-bootstrap
  pbft-node-0:
    build:
      context: ./Sabine_ODL_Fork
      dockerfile: Dockerfile
    container_name: pbft-node-0
    command:
    - node
    - pbft-bootstrap:4315
    - '0'
    - --NodeNumber
    - '4'
    - --ryuReplicaAddr
    - pox-replica-0:50052
    - --acceptUnknownTx
    - --debug
    - trace
    networks:
    - pbft_net
    depends_on:
    - pbft-bootstrap
  pbft-node-1:
    build:
      context: ./Sabine_ODL_Fork
      dockerfile: Dockerfile
    container_name: pbft-node-1
    command:
    - node
    - pbft-bootstrap:4315
    - '1'
    - --NodeNumber
    - '4'
    - --ryuReplicaAddr
    - pox-replica-1:50053
    - --acceptUnknownTx
    - --debug
    - trace
    networks:
    - pbft_net
    depends_on:
    - pbft-bootstrap
  pbft-node-2:
    build:
      context: ./Sabine_ODL_Fork
      dockerfile: Dockerfile
    container_name: pbft-node-2
    command:
    - node
    - pbft-bootstrap:4315
    - '2'
    - --NodeNumber
    - '4'
    - --ryuReplicaAddr
    - pox-replica-2:50054
    - --acceptUnknownTx
    - --debug
    - trace
    networks:
    - pbft_net
    depends_on:
    - pbft-bootstrap
  pbft-node-3:
    build:
      context: ./Sabine_ODL_Fork
      dockerfile: Dockerfile
    container_name: pbft-node-3
    command:
    - node
    - pbft-bootstrap:4315
    - '3'
    - --NodeNumber
    - '4'
    - --ryuReplicaAddr
    - pox-replica-3:50055
    - --acceptUnknownTx
    - --debug
    - trace
    networks:
    - pbft_net
    depends_on:
    - pbft-bootstrap
  pox-primary:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pox-primary
    command:
    - ./pox.py
    - log.level
    - --DEBUG
    - pbft_pox_app
    - --primary=true
    - --dealer_ip=pbft-dealer
    - --dealer_port=50051
    - openflow.discovery
    - --eat_early_packets=false
    networks:
    - pbft_net
    ports:
    - 6633:6633
    depends_on:
    - pbft-dealer
  pox-replica-0:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pox-replica-0
    command:
    - ./pox.py
    - log.level
    - --DEBUG
    - pbft_pox_app
    - --primary=false
    - --replica_id=0
    networks:
    - pbft_net
    ports:
    - 50052:50052
  pox-replica-1:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pox-replica-1
    command:
    - ./pox.py
    - log.level
    - --DEBUG
    - pbft_pox_app
    - --primary=false
    - --replica_id=1
    networks:
    - pbft_net
    ports:
    - 50053:50053
  pox-replica-2:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pox-replica-2
    command:
    - ./pox.py
    - log.level
    - --DEBUG
    - pbft_pox_app
    - --primary=false
    - --replica_id=2
    networks:
    - pbft_net
    ports:
    - 50054:50054
  pox-replica-3:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pox-replica-3
    command:
    - ./pox.py
    - log.level
    - --DEBUG
    - pbft_pox_app
    - --primary=false
    - --replica_id=3
    networks:
    - pbft_net
    ports:
    - 50055:50055
